@if (step == 1) {
    <section  class="w-2/3 bg-gray-100 border border-gray-400 rounded-md shadow p-4 mx-auto my-4">
        <h1 class="text-2xl text-start text-green-500 font-medium mb-5 ml-2">Forgot Password</h1>
    
    
        <form [formGroup]="verifyEmailForm" class="mb-6" (ngSubmit)="verifyEmailSubmit()">
            <label
              for="email"
              class="block mb-2 text-sm font-medium text-green-600 dark:text-white ml-3"
              >Email</label
            >
            <input
              formControlName="email"
              type="email"
              id="email"
              class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500"
            />
            @if (verifyEmailForm.get("email")?.errors && verifyEmailForm.get("email")?.touched) {
                <div
                class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                role="alert"
              >
                <svg
                  class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                >
                  <path
                    d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
                  />
                </svg>
                <div>
                  <span class="font-medium"
                    >Ensure that these requirements are met:</span
                  >
                  <ul class="mt-1.5 list-disc list-inside">
                    @if (verifyEmailForm.get('email')?.getError('required')) {
                    <li>Email is Required</li>
                    }@else if (verifyEmailForm.get('email')?.getError('email')) {
                    <li>must use a valid mail</li>
                    }
                  </ul>
                </div>
              </div>
            }
            <button
          class="  bg-[#24B425] text-white px-12 py-2 border rounded-lg  hover:bg-green-600 transition-colors duration-500 font-medium mt-3   "
          
          >Verify E.mail</button>
        </form>
    
    
        
    
    
    </section>
} @else if (step == 2) {

    <section class="w-2/3 bg-gray-100 border border-gray-400 rounded-md shadow p-4 mx-auto my-4">


        <form [formGroup]="verifyCodeForm" class="mb-6" (ngSubmit)="verifyCodeSubmit()">
            <label
            for="resetCode"
            class="block mb-2 text-sm font-medium text-green-600 dark:text-white ml-3"
            >Enter code here</label
          >
          <input
            formControlName="resetCode"
            type="text"
            id="resetCode"
            class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500"
          />
          @if (verifyCodeForm.get("resetCode")?.errors && verifyCodeForm.get("resetCode")?.touched) {
              <div
              class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
              role="alert"
            >
              <svg
                class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 20 20"
              >
                <path
                  d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
                />
              </svg>
              <div>
                <span class="font-medium"
                  >Ensure that these requirements are met:</span
                >
                <ul class="mt-1.5 list-disc list-inside">
                  @if (verifyCodeForm.get('resetCode')?.getError('required')) {
                  <li>Code is Required within 1 minute</li>
                  }
                </ul>
              </div>
            </div>
          }
    
          <button
          class="  bg-[#24B425] text-white px-12 py-2 border rounded-lg  hover:bg-green-600 transition-colors duration-500 font-medium mt-3   "
          
          >Verify code</button>
        </form>
    </section>
    

} @else if (step == 3 ) {
    <section class="w-2/3 bg-gray-100 border border-gray-400 rounded-md shadow p-4 mx-auto my-4">

        <h1 class="text-2xl text-start text-green-500 font-medium mb-5 ml-2">Login with new password</h1>
        <form [formGroup]="resetPassForm" class="mb-6 " (ngSubmit)="resetPassSubmit()" >
            <div class="mb-6">
                <label
                for="email"
                class="block mb-2 text-sm font-medium text-green-600 dark:text-white ml-3"
                >Enter your Email</label
              >
              <input
              readonly
                formControlName="email"
                type="email"
                id="email"
                class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500"
              />
              @if (resetPassForm.get('email')?.errors && resetPassForm.get("email")?.touched) {
                  <div
                  class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                  role="alert"
                >
                  <svg
                    class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                  >
                    <path
                      d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
                    />
                  </svg>
                  <div>
                    <span class="font-medium"
                      >Ensure that these requirements are met:</span
                    >
                    <ul class="mt-1.5 list-disc list-inside">
                      @if (resetPassForm.get('email')?.getError('required')) {
                      <li>Email is Required</li>
                      }@else if (resetPassForm.get('email')?.getError('email')) {
                      <li>must use a valid mail</li>
                      }
                    </ul>
                  </div>
                </div>
              }
            </div>
            <div class="mb-6">
                <label
                for="newPassword"
                class="block mb-2 text-sm font-medium text-green-600 dark:text-white ml-3"
                >Enter new Password</label
              >
              <input
                formControlName="newPassword"
                type="password"
                id="newPassword"
                class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500"
              />
              @if (resetPassForm.get('newPassword')?.errors && resetPassForm.get("newPassword")?.touched) {
                  <div
                  class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                  role="alert"
                >
                  <svg
                    class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                  >
                    <path
                      d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
                    />
                  </svg>
                  <div>
                    <span class="font-medium"
                      >Ensure that these requirements are met:</span
                    >
                    <ul class="mt-1.5 list-disc list-inside">
                      @if (resetPassForm.get('newPassword')?.getError('required')) {
                      <li>rePasswoed is Required</li>
                      }@else if (resetPassForm.get('newPassword')?.getError('pattern')) {
                      <li>password must start with Capital char & at least 8 char up to 20
                        char  </li>
                      }
                    </ul>
                  </div>
                </div>
              }
            </div>
    
            <button 
          class="   bg-[#24B425] text-white px-12 py-2 border rounded-lg  hover:bg-green-600 transition-colors duration-500 font-medium mt-3   "
          
          >Login 
          @if(isLoading){
            <span><i class="fas fa-spin fa-spinner"></i></span>
            }</button>
        </form>
    </section>
}





