:host{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;

   
    
}

.bg-app{
    background-image: url(./../../../../public/images/light-patten.svg) ;
    background-position:center  ;
    background-size: contain;
    
    
}